---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import ContentSection from "~/components/content-section.astro";
import DonateButton from "~/components/donate-button.astro";

// Import images
import imgTall from "~/assets/photos/Dublin-Corner-Lot-4.avif";
import img1 from "~/assets/photos/Dublin-Corner-Lot-5.avif";
import img2 from "~/assets/photos/Dublin-Corner-Lot-6.avif";
import img3 from "~/assets/photos/Dublin-Corner-Lot-7.avif";
import img4 from "~/assets/photos/Dublin-Corner-Lot-8.avif";
import img5 from "~/assets/photos/Dublin-Corner-Lot-9.avif";
import img6 from "~/assets/photos/Dublin-Corner-Lot-10.avif";
---

<ContentSection title="Our Mission" id="our-mission">
  <Fragment slot="lead">
    We are dedicated to continuing a <span class="text-green-500">green</span> and open space for any and all to enjoy. <br> This is <span class="text-primary">your</span> park!
  </Fragment>
  <div class="max-w-screen-xl grid xl:grid-cols-2 gap-8 items-center">
    <div class="w-3/4 mx-auto">
      <Image
        class="w-full border-8 border-green-400"
        src={imgTall}
        alt="Dublin Corner Lot view"
        format="avif"
        width="640"
      />
    </div>
    <div class="space-y-8">
      <p class="max-w-4xl text-justify">
        Our park does not belong to the city or any business. It belongs to those who support our cause of a green space for all.  Dublin’s citizens, businesses, and friends have been committed to our mission since 1996 in helping to maintain this park. Support through memberships, donations, and memorials keeps it flourishing.
      </p>
      <h3 class="text-center font-extrabold text-gold-600 text-2xl">
        We Need Your Help!
      </h3>
      <p class="max-w-4xl text-justify">
        Like any non-profit organization our funding comes completely from charitable donations to keep our park maintained and open to all. If you have a love of natural green spaces, keeping your community clean, and a passion for parks then consider making a donation today. We are a 501 (c)(3) non-profit organziation and all charitable donations are completely tax deductible. 
      </p>
      <p class="max-w-4xl text-justify">
        Can't make a donation? That's okay, we can still use your help by getting involved. We have "clean up" days, decoration events, general maintenance needs, and other areas where we could use an extra pair of hands to help. Get involved today in helping maintain the Corner Lot! 
      </p>
      <div class="w-fit mx-auto">
        <DonateButton />
      </div>
    </div>
  </div>
  <div class="max-w-screen-xl grid xl:grid-cols-3 gap-8 items-center">
    <div class="w-full">
      <Image
        class="w-full border-2 border-green-400"
        src={img1}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="w-full border-2 border-green-400"
        src={img2}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="w-full border-2 border-green-400"
        src={img3}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="w-full border-2 border-green-400"
        src={img4}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="w-full border-2 border-green-400"
        src={img5}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="w-full border-2 border-green-400"
        src={img6}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
  </div>
  <DonateButton />
</ContentSection>
