---
import { Image } from "astro:assets";
import ContentSection from "@/components/ContentSection.astro";
import DonateButton from "@/components/DonateButton.astro";

// Import images
import imgTall from "@/assets/images/Dublin-Corner-Lot-4.avif";
import img1 from "@/assets/images/Dublin-Corner-Lot-5.avif";
import img2 from "@/assets/images/Dublin-Corner-Lot-6.avif";
import img3 from "@/assets/images/Dublin-Corner-Lot-7.avif";
import img4 from "@/assets/images/Dublin-Corner-Lot-8.avif";
import img5 from "@/assets/images/Dublin-Corner-Lot-9.avif";
import img6 from "@/assets/images/Dublin-Corner-Lot-10.avif";
---

<ContentSection title="Our Mission" id="our-mission">
  <Fragment slot="lead">
    We are dedicated to continuing a <span class="text-success">green</span> and
    open space for any and all to enjoy. <br /> This is <span
      class="text-primary">your</span
    > park!
  </Fragment>
  <div class="grid items-center gap-8 xl:grid-cols-2">
    <div class="mx-auto w-3/4">
      <Image
        class="border-border w-full border-4 sm:border-8"
        src={imgTall}
        alt="Dublin Corner Lot view"
        format="avif"
        width="640"
      />
    </div>
    <div class="space-y-8 text-justify text-base/7">
      <p>
        Our park does not belong to the city or any business. It belongs to
        those who support our cause of a green space for all. Dublin’s citizens,
        businesses, and friends have been committed to our mission since 1996 in
        helping to maintain this park. Support through memberships, donations,
        and memorials keeps it flourishing.
      </p>
      <h3 class="text-accent text-center text-3xl font-black">
        We Need Your Help!
      </h3>
      <p>
        Like any non-profit organization our funding comes completely from
        charitable donations to keep our park maintained and open to all. If you
        have a love of natural green spaces, keeping your community clean, and a
        passion for parks then consider making a donation today. We are a 501
        (c)(3) non-profit organziation and all charitable donations are
        completely tax deductible.
      </p>
      <p>
        Can't make a donation? That's okay, we can still use your help by
        getting involved. We have "clean up" days, decoration events, general
        maintenance needs, and other areas where we could use an extra pair of
        hands to help. Get involved today in helping maintain the Corner Lot!
      </p>
      <div class="mx-auto w-fit">
        <DonateButton />
      </div>
    </div>
  </div>
  <div class="grid max-w-screen-xl items-center gap-8 xl:grid-cols-3">
    <div class="w-full">
      <Image
        class="border-border w-full border-2"
        src={img1}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="border-border w-full border-2"
        src={img2}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="border-border w-full border-2"
        src={img3}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="border-border w-full border-2"
        src={img4}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="border-border w-full border-2"
        src={img5}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
    <div class="w-full">
      <Image
        class="border-border w-full border-2"
        src={img6}
        alt="Dublin Corner Lot promo photo"
        format="avif"
        width="640"
      />
    </div>
  </div>
  <DonateButton />
</ContentSection>
