---
import Meta from "@/layouts/Meta.astro";
import { SITE } from "@/lib/siteConfig";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BackToTopButton from "@/components/BackToTopButton.astro";
import "@/styles/global.css";

// Setting expected props
const {
  title = SITE.title,
  meta,
  structuredData,
  noIndex,
  externalAsset,
} = Astro.props;
const umamiId = import.meta.env.UMAMI_WEBSITE_ID;

// Interface to type-check the properties
interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  noIndex?: boolean;
  externalAsset?: boolean;
}
---

<html lang="en" class="scrollbar-hide lenis lenis-smooth dark">
  <head>
    <!-- Define the title of the page -->
    <title>{title}</title>
    <!-- Meta tags, Open Graph, icons, and sitemap -->
    <Meta meta={meta} structuredData={structuredData} noIndex={noIndex} />
    <!-- Preconnect third party resources -->
    {
      externalAsset && (
        <link rel="preconnect" href="https://iframe.mediadelivery.net" />
      )
    }
    <!-- Script to check for dark mode and set theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        if (themeSaved === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        if (prefersDark) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            if (event.matches) {
              document.documentElement.classList.add("dark");
            } else {
              document.documentElement.classList.remove("dark");
            }
          }
        });
    </script>
    <!-- Lenis smooth scroll script -->
    <script>
      import Lenis from "lenis";
      const lenis = new Lenis();
      function raf(time: number): void {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }
      requestAnimationFrame(raf);
    </script>
    <!-- Umami Analytics script -->
    <script
      defer
      src="https://umami.cobaltweb.tech/script.js"
      data-website-id={umamiId}></script>
  </head>
  <body
    class="bg-background text-default selection:bg-secondary flex min-h-svh flex-col text-base selection:text-white"
  >
    <Header />
    <slot name="hero" />
    <main
      class="relative mx-auto flex w-full max-w-screen-xl flex-auto flex-col items-center justify-center space-y-8 p-6 sm:p-8 lg:space-y-12"
    >
      <slot />
    </main>
    <Footer />
    <BackToTopButton />
  </body>
</html>
